DEBUG=False

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tp_vdgo
DB_USER=admin
DB_PASS=admin123poi

# KLADR paths
PATH_KLADR=kladr

# KLADR files
ALTNAMES_FILE=ALTNAMES.DBF
DOMA_FILE=DOMA.DBF
FLAT_FILE=FLAT.DBF
KLADR_FILE=KLADR.DBF
NAMEMAP_FILE=NAMEMAP.DBF
SOCRBASE_FILE=SOCRBASE.DBF
STREET_FILE=STREET.DBF

# KLADR tables
ALTNAMES_TABLE=altnames
DOMA_TABLE=doma
FLAT_TABLE=flat
KLADR_TABLE=kladr
NAMEMAP_TABLE=namemap
SOCRBASE_TABLE=socrbase
STREET_TABLE=street

# Users credentials
SUPER_USER=super_vdgo
SUPER_PASSWD=
ADMIN_USER=admin_vdgo
ADMIN_PASSWD=
USER_USER=user_vdgo
USER_PASSWD=
GUEST_USER=guest_vdgo
GUEST_PASSWD=
OTHER_USER=other_vdgo
OTHER_PASSWD=
